* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF001B;
    --branco: #fff;
    --cinza: #EEEEEE;
    --sombra: #727171;
}

body{
    background-color: var(--cinza);
    min-height: 277vh;
}

/* corpo do site flutuando na direita do header horizontal */
.corpo-site{
    margin-left: 8.5rem;
}

@media(max-width: 845px){
    .corpo-site{
        margin-left: 0;
    }
}

@media(min-width: 1700px){
    .corpo-site{
        margin-left: 0;
    }
}

/* --------------------------- CONTEUDO DO CORPO DO SITE --------------------------- */
/* --------------------------- CIMA DO SITE --------------------------- */
.cimaAnalises {
    display: flex;
    justify-content: space-between;
    padding-top: 4.2rem;
}

.cimaAnalises h1 {
    background: linear-gradient(45deg, #d11124, var(--vermelho));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fill 2s ease-in-out infinite;
    margin-left: 4rem;
}

@keyframes fill {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.dropdown {
    margin-right: 7rem;
}

.botoes-analises {
    display: flex;
    justify-content: space-between;
}

.botao-dropdown {
    border: 1px solid var(--vermelho);
    color: transparent;
    color: var(--vermelho);
    border-radius: 20px;
}

.botao-dropdown:hover {
    background-color: #ececec;
    border: 1px solid #ae1121;
    color: #ae1121;
}

.botao-ver-transacoes {
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 20px;
    transition: 0.2s;
}

.botao-ver-transacoes:hover {
    background-color: var(--vermelho);
    color: var(--branco);
    transform: scale(1.03);
}

.dropdown-item {
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.dropdown-item:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

/* --------------------------- BAIXO DO SITE --------------------------- */
.baixoAnalises {
    margin-top: 2.4rem;
}
/* ------------------ PRODUTO MAIS E MENOS VENDIDOS ------------------- */
.produtoMaisMenos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
}

.esquerda-tabela-produtoMaisMenos, .direita-tabela-produtoMaisMenos {
    margin-top: 30px;
}

.tabela-titulo h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--vermelho);
    width: 100%;
}

.tabela-titulo h3 {
    font-weight: 500;
    text-align: center;
    color: #303030;
}

.tabela-td-ranking-produtoMaisMenos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabela-td-ranking-produtoMaisMenos h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--vermelho);
}

.esquerda-tabela-produtoMaisMenos h2, .direita-tabela-produtoMaisMenos h2 {
    font-size: 1.2rem;
}

.esquerda-tabela-produtoMaisMenos h3, .direita-tabela-produtoMaisMenos h3 {
    font-size: 1rem;
}

.tabela-td-numeros-produtoMaisMenos {
    text-align: center;
    vertical-align: baseline;
}

.esquerda-botoes-produtoMaisMenos, .direita-botoes-produtoMaisMenos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.botoes-produtoMaisMenos {
    background-color: transparent;
    color: var(--preto);
    border: 1px solid var(--vermelho);
    padding: 3px 14px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.7rem;
    transition: 0.2s;
}

.botoes-produtoMaisMenos:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

/* ---------------------------- GRÁFICOS ----------------------------*/
.cimaGraficos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cimaGraficos h1 {
    font-size: 1rem;
    color: var(--vermelho);
}

.cimaGraficos select{
    font-size: 0.7rem;
    padding: 0 0 0 5px;
    width: 30%;
    height: 1.9rem;
    background-color: rgba(238, 238, 238, 0.5);
    border: none;
    color: var(--preto);
}

.imagemGrafico {
    display: flex;
    margin: 0 auto;
}

/* ---------------------- PEDIDOS POR CATEGORIA ----------------------- */
.pedidosCategoria {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 45.5%;
}

.pizzaGraficoContainer {
    display: flex;
    align-items: center;
}

.pizzaGrafico {
    margin-left: -50px;
    width: 80%;
}

.legendaPizzaGrafico div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: 'Poppins';
    margin-left: -50px;
}

.legendaPizzaCor {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

/* ------------------------ PRECO DOS PEDIDOS ------------------------- */
.precoPedidos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 46%;
}

.linhaGrafico {
    display: flex;
    justify-content: center;
}

.linhaGrafico canvas {
    width: 70%;
}

/* --------------------- ESQUERDA BAIXO -------------------- */
.esquerdaBaixoAnalises {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 45.5%;
}

/* --------------------- RECEITAS X DESPESAS ANO -------------------- */
.colunaGrafico {
    display: flex;
    justify-content: center;
}

.colunaGrafico canvas {
    width: 70%;
}

.legendaColunaGrafico {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.6rem;
    font-family: 'Poppins';
}

.legendaColunaCor {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}

/* --------------------- RECEITAS X DESPESAS MÊS -------------------- */
.barraGrafico { 
    display: flex;
    justify-content: center;
}

.barraGrafico canvas {
    width: 70%;
}

/* --------------------- DIREITA BAIXO -------------------- */
/* ------------------------- VOLUME DOS PEDIDOS ----------------------- */
.volumePedidos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 115%;
    margin-left: -10px;
    padding: 10px;
}

/* ---------------------- DESPESA POR CATEGORIA ----------------------- */
.despesaCategoria {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 115%;
    margin-left: -10px;
    padding: 10px;
}

.despesaLegenda {
    cursor: pointer; /* Adiciona o cursor de mão */
}

.despesaLegenda {
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}

.modal-dialog {
    max-width: 53%;
}

.dataInicio input, .dataFim input, .valorInicio input, .valorFim input, .tipoFiltro select {
    background-color: #ECEEF0;
    border-radius: 15px;
    border: 1px solid #8E8E8E;
    padding: 0.3rem 2rem;
}

.dataInicio input, .dataFim input, .tipoFiltro select {
    background-color: #565859;
    border: 1px solid #8E8E8E;
    color: var(--branco);   
}

.btnDespesa{
    background-color: var(--vermelho);
    color: var(--branco);
    transition: all 0.2s;
    width: 20%;
    font-weight: 200;
}

.btnDespesa:hover {
    background-color: transparent;
    border: 1px solid var(--vermelho);
    color: var(--vermelho);
    font-weight: 200;
}

.filtroDataDsp, .filtroValorDsp{
    display: flex;
    justify-content: space-around;
}

#tbodyContas th {
    font-weight: normal; /* Remove o font-weight das células */
}


/* ---------------------- RESPONSIVIDADE ----------------------- */
@media (max-width: 1200px){
    .cimaDespesa, .baixoDespesa{
        width: 100%;
    }

    .baixoDespesa textarea{
        width: 200%;
    }
}

@media(max-width: 991.5px){
    body {
        min-height: 575vh;
    }

    .cimaAnalises {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cimaAnalises h1 {
        margin-left: 0;
        text-align: center;
    }

    .pedidosCategoria {
        width: 100%;
    }

    .precoPedidos {
        width: 100%;
    }

    .esquerdaBaixoAnalises {
        width: 100%;
    }

    .volumePedidos {
        width: 103%;
        margin-left: -10px;
    }

    .despesaCategoria {
        width: 103%;
        margin-left: -10px;
    }

    .cimaDespesa, .baixoDespesa{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .baixoDespesa{
        align-items: flex-start;
    }

    .filtroDataDsp, .filtroValorDsp{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .btnDespesa{
        width: 50%;
        margin-left: 25%;
    }

    .modal-dialog {
        max-width: 600px;
    }
}

@media (max-width: 455px) {
    .dropdown {
        margin-right: 0rem;
    }
    
    .botoes-analises button {
        font-size: 14px;
    }
}

@media (max-width: 485px) {
    .tabelaVendido td:nth-child(3), .tabelaVendido th:nth-child(3) {
        display: none;
    }

    .botoes-produtoMaisMenos {
        font-size: 10px;
        padding: 0.1rem 0.4rem;
    }

    .esquerda-botoes-produtoMaisMenos, .direita-botoes-produtoMaisMenos {
        align-items: none;
        gap: 10px;
    }

    .tabelaDespesas td:nth-child(4), .tabelaDespesas th:nth-child(4) {
        display: none;
    }
}

@media (max-width: 400px) {
    .botoes-produtoMaisMenos {
        font-size: 9px;

    }
    
    .tabela-titulo h1, .tabela-titulo h3 {
        font-size: 0.8rem;
    }

    .nome-unidade-produtoMaisMenos h2, .nome-unidade-produtoMaisMenos h3, .tabela-td-numeros-produtoMaisMenos {
        font-size: 0.7rem;
    }
    
    .tabelaDespesas td:nth-child(5), .tabelaDespesas th:nth-child(5) {
        display: none;
    }
}