/* --------------------------- CONTEUDO DO CORPO DO SITE --------------------------- */
/* Define a imagem de fundo do corpo da página */
body {
    background-image: url("../Imagens/Cadastro Estabelecimento/background_cadastro2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos para o título do formulário */
#infoestabelecimento {
    text-wrap: wrap;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

/* Estilos para o container principal da tela */
#basebox {
    display: flex;
}

/* Estilos para o container do formulário */
#cadastrobox {
    background-color: white;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* Estilos para o botão "Continuar" */
#linkcontinuar {
    margin-bottom: 4vh;
}

/* Estilos responsivos para a tela */
@media (max-height:800px) {
    #basebox {
        min-height: 600px;
    }
}