* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF001B;
    --branco: #fff;
    --cinza: #EEEEEE;
    --sombra: #727171;
}

body{
    background-color: var(--cinza);
}

/* corpo do site flutuando na direita do header horizontal */
.corpo-site{
    margin-left: 8.5rem;
}

@media(max-width: 845px){
    .corpo-site{
        margin-left: 0;
    }
}

@media(min-width: 1700px){
    .corpo-site{
        margin-left: 0;
    }
}

/* --------------------------- CONTEUDO DO CORPO DO SITE --------------------------- */
/* --------------------------- TITULO --------------------------- */
h1 {
    font-size: 1.5rem;
    font-weight: 500   ;
}

/* --------------------------- CONTAINER FORMULARIO --------------------------- */
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15% 4%;
    margin-bottom: 10%;
    margin-top: 2%;
}

.form-container label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.form-container input, .form-container select {
    font-size: 1rem;
    margin-top: 5px;
    padding: 0.3rem 1rem;
    border: 1px solid #8E8E8E;
    border-radius: 15px;
    background-color: var(--branco);
    width: 100%;
    height: 100%;
}

.form-container button {
    font-size: 1rem;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    align-self: end;
    height: 80%;
}

.form-container button:hover {
    background-color: #d00016;
}

/* --------------------------- COLABORADORES CADASTRADOS --------------------------- */
h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500   ;
}

/* --------------------------- CONTAINER PRINCIPAL --------------------------- */
.colab-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* --------------------------- TABELA --------------------------- */
.colaboradores-tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.colaboradores-tabela thead {
    background-color: #f4f4f4;
}

.colaboradores-tabela th,
.colaboradores-tabela td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.colaboradores-tabela th {
    font-weight: 700;
}

.colaboradores-tabela tbody tr:last-child td {
    border-bottom: none;
}

.colaboradores-tabela tbody td:hover {
    background-color: var(--cinza);
}


@media (max-width: 760px) {
    .form-container {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .form-container :nth-child(6) {
        margin-top: 1rem;
    }

    table th, td {
        font-size: 0.6rem;
    }
}

@media (max-width: 480px) {
    table td:nth-child(3), th:nth-child(3), td:nth-child(4), th:nth-child(4) {
        display: none;
    }
}